<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="Alpha Release - 1.04" package="com.complustech.co" android:installLocation="auto" android:versionCode="4">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="ChurchPlus" android:icon="@mipmap/logo"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>